.hero {
  background: #f6f6f6;
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* MAIN LAYOUT */

.hero-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* IMAGE SECTION */

.hero-image {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;

  animation: slideRight 1.2s ease-out;
}

.hero-image img {
  width: 1000px;
  height: 800px;

  object-fit: cover;
  object-position: center;

  border-radius: 0 1000px 1000px 0;

  display: block;
}

/* CONTENT SECTION */

.hero-text {
  width: 45%;
  max-width: 550px;
  margin-right: 400px;

  animation: slideLeft 1.2s ease-out;
}

.hero-tag {
  font-size: 22px;
  letter-spacing: 5px;
  color: #222;
  margin-bottom: 25px;
  font-weight: 700;
}

.hero-text h1 {
  font-size: 55px;
  line-height: 1.05;
  font-weight: 800;
  color: #111;
  margin-bottom: 30px;
  white-space: nowrap;
}

.contact {
  font-size: 20px;
  color: #333;
  margin-bottom: 18px;
  font-weight: 700;
}

.timings {
  margin-top: 30px;
}

.timings p {
  font-size: 22px;
  color: #555;
  margin-bottom: 30px;
}

.hero-text button {
  margin-top: 50px;

  width: 230px;
  height: 60px;

  background: transparent;
  border: 2px solid #555;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.hero-text button:hover {
  background: #111;
  color: white;
  transform: translateY(-5px);
}

.credit {
  margin-top: 35px;
  font-size: 15px;
  color: #666;
}

/* HERO ANIMATIONS */

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* TABLET */

@media (max-width: 992px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .hero-image,
  .hero-text {
    width: 100%;
  }

  .hero-text {
    margin-right: 0;
    max-width: 100%;
  }

  .hero-text h1 {
    font-size: 52px;
    white-space: normal;
  }

  .hero-image {
    justify-content: center;
  }

  .hero-image img {
    width: 100%;
    max-width: 650px;
    height: auto;
    border-radius: 40px;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .hero {
    padding: 40px 20px;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-tag {
    font-size: 12px;
    letter-spacing: 3px;
  }

  .contact,
  .timings p {
    font-size: 16px;
  }

  .hero-text button {
    width: 100%;
  }
}
.hero-text{
  animation:test 2s infinite;
}

@keyframes test{
  0%{
    transform:translateX(0);
  }

  50%{
    transform:translateX(100px);
  }

  100%{
    transform:translateX(0);
  }
}